src/conf/xml-resources/web-service-references/offersComService/wsdl/localhost_8080/PartnerOffers/offersComService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test/">

<xs:element name="getOffers" type="tns:getOffers"></xs:element>

<xs:element name="getOffersResponse" type="tns:getOffersResponse"></xs:element>

<xs:complexType name="getOffers">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getOffersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>